<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <connectionStrings>
   <add name="CreditosDB" connectionString="Data Source=PC-DELL\RAYOPUNK;Initial Catalog=Creditos;User ID=sa;Password=rayito1985" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="User" value="aespejo" />
    <add key="Password" value="123456" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="EnlaceHTTP" closeTimeout="00:10:00" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="EnlaceTCP" closeTimeout="00:10:00" maxReceivedMessageSize="65536" maxBufferSize="65536" maxConnections="10">
          <security mode="Message">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"></transport>
          </security>
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="EnlaceHTTPRest" closeTimeout="00:10:00" crossDomainScriptAccessEnabled="true"></binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Pacagroup.Comercial.Creditos.Implementacion.ClienteService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="EnlaceHTTP" contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="EnlaceTCP" contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService"></endpoint>
        <endpoint address="rest" binding="webHttpBinding" contract="Pacagroup.Comercial.Creditos.Contrato.IClienteService" bindingConfiguration="EnlaceHTTPRest" behaviorConfiguration="webREST"></endpoint>
      </service>
      <service name="Pacagroup.Comercial.Creditos.Implementacion.CreditoService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="EnlaceHTTP" contract="Pacagroup.Comercial.Creditos.Contrato.ICreditoService"></endpoint>
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="EnlaceTCP" contract="Pacagroup.Comercial.Creditos.Contrato.ICreditoService"></endpoint>
        <endpoint address="rest" binding="webHttpBinding" contract="Pacagroup.Comercial.Creditos.Contrato.ICreditoService" bindingConfiguration="EnlaceHTTPRest" behaviorConfiguration="webREST"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webREST">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Pacagroup.Comercial.Creditos.Implementacion.CustomUserNameValidator, Pacagroup.Comercial.Creditos.Implementacion" />
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
   <handlers>
      <remove name="WebDAV" />
      <!---->
      <add name=".svc" verb="*" path="*.svc"
           type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   
    </handlers>

    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".svc" mimeType="application/octetstream +" />
        </staticContent>
  </system.webServer>

</configuration>
